@charset "utf-8";
@font-face {
    font-family: MiFuente;
    src: url('../Fonts/Nougat-ExtraBlack.ttf');
	}
body {
    font-family: Arial, sans-serif; /* Fuente típica */
    font-size: 16px; /* Tamaño de fuente normal */
}
body{
	height:auto;
	width: auto;
	margin-left: 5%;
    font-family: Arial, sans-serif; /* Fuente típica */
	background-image: url("../Images/fondoform.jpg");
	}
header{
	height:10%;
	width: 90%;
	background-color: mediumpurple;
	}
main{
	height:70%;
	width: 90%;
	background-color: rebeccapurple;
	}
footer{
	height:20%;
	width: 90%;
	margin-top: 2%;
	text-align: center;
	display: flex;
	flex-direction: row;
	background-color: mediumpurple;
	border-style: solid;
	border-color: rebeccapurple;
	}
#pieizquierda{
	width:33%;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	}
#piecentro{
	width: 33%;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: rebeccapurple;
	border-left-color: rebeccapurple;
	}
#piederecha{
	width: 33%;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	}
#menu{
	width: 100%;
	border-color: rebeccapurple;
	border-style: solid;
	padding: 3px;
	font-size: 12pt;
	color: white;
	}
#menu a{
    text-decoration: none;
    color: gold;
    font-size: 16px;
    }
#menu a:hover {
    color: rebeccapurple;
    font-size: 18px;
    }
table img{
	height: 50px
	}
.mapainteractivo{
	width: 175px;
	height: 60px;
	text-align: center;
	}
.QR{
	width: 125px;
	height: 125px;	
	}
.copyleft {
	display:inline-block;
	transform: rotate(180deg);
	color:black;
	}
.opcionesmenu {
    display: flex;
    justify-content: flex-start; 
    background-color: #cfe2f3;
    margin-top: 10px;
}
.opcionesmenu a {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f7fc; 
    border: 1px solid #918AFF; 
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.opcionesmenu a:hover {
    background-color: #d4e8fc; 
}
.opcionesmenu a.active {
    background-color: #ffffff;
    border-bottom: none;
}
.content {
    display: none;
    border: 1px solid #918AFF; 
    border-top: none;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
}
.content.active {
    display: block;
}
.exercise-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.exercise-item {
	flex: 0 0 calc(20% - 20px); 
    text-align: center;
    background-color: #f0f7fc; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}
.exercise-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.exercise-item p {
    color: black;
}
.exercise-item a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.exercise-item a:hover {
    text-decoration: underline;
    color: grey;
}
